<ion-header>
    <ion-toolbar color="light">
      <img src="./assets/img/pltc_header.jpg" alt=""> 
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Who we are</ion-card-subtitle>
      <ion-card-title>Our Experts</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        To submit media inquiries or request access to one of our specialists for a possible speaking engagement, please email media@chemonics.com.
    </ion-card-content>
  </ion-card>
    
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">    
      <img src="./assets/img/Chemonics Footer Reduced.png" alt="">    
  </ion-toolbar>
</ion-footer>
