<!-- header -->
<app-header></app-header>
<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Connexi's Services</ion-card-subtitle>
    <ion-card-title>Inclusive market systems that improve productivity, incomes, and nutrition </ion-card-title>
  </ion-card-header>

  <ion-card-content>
      placeholder:
      Our mission is to promote meaningful change around the world to help people live healthier, more productive, and more independent lives. 
  </ion-card-content>
</ion-card>  
</ion-content>
<!-- footer -->
<app-footer></app-footer>