<!-- header -->
<app-header></app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Connexi's In-Country Logistics</ion-card-subtitle>
      <ion-card-title>Strengthening systems of democratic governance to ensure accountability, justice, and inclusion </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        placeholder: At Chemonics, we believe that the challenges we face today are best solved through the right partnerships – sharing knowledge, expertise, and experience to deliver results. From our decades of experience working in more than 150 countries around the world, we know that effective governance and accountable institutions are critical to alleviating poverty and achieving sustainable results in all sectors. So we partner with governments, civil society organizations (CSOs), the independent media, and local communities to strengthen democratic governance systems. We help prevent crime and violence in Mexico by improving government capacity at the federal, state, and municipal levels. And we ensure governance participation of women, people with disabilities, and youth in Nigeria. Our programs pursue a higher standard of transparency and accountability of leaders and institutions, and they protect and promote universal human rights.
    </ion-card-content>
  </ion-card>
    
</ion-content>
<!-- footer -->
<app-footer></app-footer>
