<ion-header>
    <ion-toolbar color="light">
      <img src="../../../../assets/img/PLTC_Header.jpg" alt="">
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Who we are</ion-card-subtitle>
      <ion-card-title>For more than 40 years, Chemonics has remained dedicated to helping people live healthier, more productive, and more independent lives. </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      1975. Chemonics International is founded in Washington, D.C., by the company’s first president, Thurston F. Teele. Its mission, then and now, is to promote meaningful change around the world, helping people live healthier, more productive, and more independent lives. Landmark agribusiness studies in Cameroon and Kenya represent Chemonics’ earliest work, earning high praise from USAID, the company’s primary client.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">    
      <img src="../../../assets/img/Chemonics Footer Reduced.png" alt="">    
  </ion-toolbar>
</ion-footer>