<ion-tabs>
    <ion-tab-bar color="dark" slot="top">  

      <ion-tab-button tab="backhome">
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="whoweare">
        <ion-label>Who we are</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="leadership">
        <ion-label>Leadership</ion-label>
      </ion-tab-button>   

      <ion-tab-button tab="experts">
        <ion-label>Our Experts</ion-label>
      </ion-tab-button>    
      
      <ion-tab-button tab="">
        <ion-label></ion-label>
      </ion-tab-button>  

    </ion-tab-bar>
</ion-tabs>
  
  
  
  
