<ion-tabs>
    <ion-tab-bar slot="top">  

      <ion-tab-button tab="backhome" layout="icon-start">
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="whoweare" layout="icon-start">
        <ion-label>Who we are</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="leadership" layout="icon-start">
        <ion-label>Leadership</ion-label>
      </ion-tab-button>   

      <ion-tab-button tab="experts" layout="icon-start">
        <ion-label>Our Experts</ion-label>
      </ion-tab-button>    

    </ion-tab-bar>
</ion-tabs>
  
  
  
  
