<ion-tabs>
    <ion-tab-bar color="dark" slot="top">  

      <ion-tab-button tab="backhome">
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="contact">
        <ion-label>Contact Us</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="us">
        <ion-label>USA</ion-label>
      </ion-tab-button>   

      <ion-tab-button tab="pt">
        <ion-label>Portugal</ion-label>
      </ion-tab-button>   
 
      <ion-item>
        <ion-icon name="search-outline"></ion-icon>
        <ion-input type="search" placeholder="type your search terms here ......."></ion-input>
      </ion-item> 
      
    </ion-tab-bar>
</ion-tabs>
  
  
  
  
