<!-- header -->
<app-header></app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Who we are</ion-card-subtitle>
      <ion-card-title>Our Leadership Team</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        To best respond to the needs of our beneficiaries and clients, Chemonics has seven regional business units: Asia; East and Southern Africa; Europe and Eurasia; Latin America and the Caribbean; Middle East and North Africa; Syria, Iraq, Yemen, and Afghanistan; and West and Central Africa and Haiti. Recognizing the tailored needs of global health and supply chain solutions, Chemonics also has business units that serve those technical areas. In addition, each business unit houses a cross-cutting technical practice team that leads industry outreach, promotes innovation, and supports business development and project performance across the company and throughout the world. Our support units underpin our commitment to learning,  business ethics, supporting our industry, and managing our business and projects to the highest standards.
    </ion-card-content>
  </ion-card>
</ion-content>
<!-- footer -->
<app-footer></app-footer>
