<ion-header>
  <ion-toolbar color="light">
   <img src="./assets/img/pltc_header.jpg" alt=""> 
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Connexi Home Page</ion-card-subtitle>
      <ion-card-title>Transforming supply chains to improve low- and middle-income countries' procurement and public health systems Transforming supply chains to improve low- and middle-income countries' procurement and public health systems </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Access to medicines, health products, food, and other essential commodities is elemental to ending extreme poverty, building human capacity, and creating vibrant markets around the world. Our multi-sector supply chain practice works with local stakeholders to transform their supply chain performance. Our dynamic portfolio of long-term projects adapts data-driven private sector practices to build resilient supply chains that have world-class efficiency, ease of use, and last-mile reach.
    </ion-card-content>
  </ion-card>
    
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">    
      <img src="../../../assets/img/Chemonics Footer Reduced.png" alt="">    
  </ion-toolbar>
</ion-footer>
