<ion-header>
    <ion-toolbar color="light">
      <img src="../../../../assets/img/PLTC_Header.jpg" alt="">
    </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Portugal</ion-card-subtitle>
        <ion-card-title>
        Media
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
To submit media inquiries or request access to one of our specialists for a possible speaking engagement, please email media@chemonics.com (strongly preferred), or call 202.955.7400.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Portugal</ion-card-subtitle>
        <ion-card-title>
        Employment
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        Visit our careers page for U.S.-based, international, and consultancy opportunities. For general inquiries regarding the application process or your application, please email us at newhire@chemonics.com.
    </ion-card-content>
  </ion-card>
    
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">    
      <img src="../../../assets/img/Chemonics Footer Reduced.png" alt="">    
  </ion-toolbar>
</ion-footer>