<ion-header>
    <ion-toolbar color="light">
      <img src="../../../../assets/img/PLTC_Header.jpg" alt="">
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Connexi's Control Tower and Data Analytics</ion-card-subtitle>
      <ion-card-title>
        Enhancing competitiveness and trade, strengthening public financial management, and improving enabling environments </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        placeholder: Chemonics’ global network of specialists understands that development problems are complex and interrelated. So we rely on a combination of broad regional experience, technical depth, and unparalleled management skills to strengthen economic growth and trade around the world. From decades of experience, we know that financial services are key for broad-based economic growth and we work with financial institutions to increase their availability. To help countries sustainably address their own development needs and provide efficient and effective public services, we work with governments to build accountable public financial management systems. To ensure policies align closely with economic objectives, we facilitate strategic regulatory reform and encourage trade integration. We promote entrepreneurship and strengthen the underlying market infrastructure to create, grow, and sustain businesses that stimulate economic growth.
    </ion-card-content>
  </ion-card>
    
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">    
      <img src="../../../assets/img/Chemonics Footer Reduced.png" alt="">    
  </ion-toolbar>
</ion-footer>
