<ion-header>
    <ion-toolbar color="light">
      <img src="./assets/img/pltc_header.jpg" alt=""> 
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Connexi's Global Supply Chain</ion-card-subtitle>
      <ion-card-title>Creating shared value and sustainable impact for our clients and the communities where they work </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        placeholder: Global corporations and the international development community have a shared interest in fostering a healthier, more stable, and more prosperous world. Corporate social responsibility and sustainability have become cornerstones of doing business in the developing countries. We believe the private sector can be a powerful force for creating meaningful change in the world and that complex sustainability challenges require locally-driven, multi-disciplinary solutions. Using assessment, design, implementation, and evaluation services, Chemonics helps create shared value, sustainable impact, and measurable returns for our clients and the communities where they work.
    </ion-card-content>
  </ion-card>
    
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">    
      <img src="./assets/img/Chemonics Footer Reduced.png" alt="">    
  </ion-toolbar>
</ion-footer>