<ion-header>
  <ion-toolbar color="light">
    <img src="../../../../assets/img/PLTC Header.jpg" alt="">
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Contact Us</ion-card-subtitle>
      <ion-card-title>
      Office of Business Conduct
      </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Employees, partners, clients, and other individuals can contact the Office of Business Conduct regarding questions or possible violations of Chemonics’ standards, company policies, or government laws and regulations.

    The HelpLine is accessible from overseas and can be reached any time by email at BusinessConduct@chemonics.com or by phone/Skype at 888.955.6881.
  </ion-card-content>
</ion-card>
  
</ion-content>

<ion-footer>
<ion-toolbar color="dark">    
    <img src="../../../assets/img/Chemonics Footer Reduced.png" alt="">    
</ion-toolbar>
</ion-footer>