<ion-header>
  <ion-toolbar color="light">
    <img src="../../../../assets/img/PLTC Header.jpg" alt="">
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>About Connexi</ion-card-subtitle>
      <ion-card-title>subtitle goes here</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
    
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">    
      <img src="../../../assets/img/Chemonics Footer Reduced.png" alt="">    
  </ion-toolbar>
</ion-footer>
