<ion-tabs>
    <ion-tab-bar color="dark" slot="top">  

      <ion-tab-button tab="backhome">
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="service">
        <ion-label>Service</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="supplychain">
        <ion-label>Global Supply Chain</ion-label>
      </ion-tab-button>   

      <ion-tab-button tab="logistics">
        <ion-label>In-Country Logistics</ion-label>
      </ion-tab-button>  

      <ion-tab-button tab="analytics">
        <ion-label>Control Tower and Data Analytics</ion-label>
      </ion-tab-button>  
 
      <ion-item>
        <ion-icon name="search-outline"></ion-icon>
        <ion-input type="search" placeholder="type your search terms here ......."></ion-input>
      </ion-item> 
      
    </ion-tab-bar>
</ion-tabs>
  
  
  
  
