<ion-header>
  <ion-toolbar color="light">
    <img src="./assets/img/pltc_header.jpg" alt=""> 
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Resources</ion-card-subtitle>
      <ion-card-title>
        We believe that by taking risks, being bold, and forging partnerships, the development community can scale innovations for sustainable change. 
      </ion-card-title>
  </ion-card-header>
  <ion-card-content>Chemonics is committed to unleashing creativity, intellectual curiosity, and energy to solve the increasingly complex development challenges facing the world today. For us, innovation is about applying new knowledge to solve some of the world’s toughest problems — whether that means designing a solution to a challenge through a new product, service, or approach, or adapting an existing solution from another field or discipline. 
  </ion-card-content>
</ion-card>
  
</ion-content>

<ion-footer>
<ion-toolbar color="dark">    
    <img src="./assets/img/Chemonics Footer Reduced.png" alt="">    
</ion-toolbar>
</ion-footer>