<ion-header>
    <ion-toolbar color="light">
      <img src="../../../../assets/img/PLTC Header.jpg" alt="">
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Connexi's Vision</ion-card-subtitle>
      <ion-card-title>Opportunity | Think big</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    Be versatile.
    Continue to learn and develop self.
    Mentor and develop others.
    Take chances on people and partners
    </ion-card-content>
  </ion-card>    
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">    
      <img src="../../../assets/img/Chemonics Footer Reduced.png" alt="">    
  </ion-toolbar>
</ion-footer>